.Logo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Logo img {
    height: 50px;
}
@media (max-width: 499px) {
    .Logo img {
        height: 35px;
    }
}