.NavigationItem {
    margin: 10px 0;
    border-style: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
} 

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    cursor: pointer;
}


@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        transition: 0.4s;
        position: relative;
    } 

    .NavigationItem a::before {
        content: '';
        width: 0;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -4px;
        transition: 0.4s;
    }

    .NavigationItem:hover a::before,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: white;
        width: 100%;
    }
}