.section-image-container{
    height: 88vh;
    padding-top: 2vh;
    color: white;
    width: 48vw;
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.hoverImage {
    opacity: 1;
    transform: translateY(0%);
}

.word {
    padding-top: 3vh;
}

p, h2 {
    margin: 0;
    font-weight: 700;
}
p {
    margin-top: 10px;
}

.hover-image{
    height: 60vh;
    margin-top: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
}
